<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>
        安装和使用本软件前，请您仔细阅读以下内容。一旦您安装和使用了本软件即表示同意并愿意遵守以下声明的各项条款。
        
        1. NJTourism（下称“本系列软件产品”）由FatFish自主研发，有关该软件的一切知识产权均由FatFish合法享有，未经知识产权人书面授权不得对软件进行拆解、反向工程、反向编译或反汇编等活动，否则自行承担由此引发的一切法律后果。
        
        2. 本系列软件产品为免费软件，用户可以下载、安装、复制和散发本软件产品，但严禁用于商业用途。
        
        3. 由于本系列软件产品可以通过网络等途径传播，对于从非苹果官方指定站点下载的本软件产品，将无法保证该软件是否感染计算机病毒等安全问题，FatFish不承担由此引起的直接或间接损害责任。
        
        4. 本系列软件产品经过详细的测试，但不能保证与所有软硬件系统完全兼容。除本系列软件的明显质量缺陷外，FatFish对以下原因在使用本系列软件时可能对用户造成的损害不负责任。
    </string>
</array>
</plist>
